* {
    margin: 0;
    padding: 0;
    font-family: Esallianz, sans-serif;
}

.blue {
    color: #0d70f2;
}

.container {
    display: flex;
    justify-content: center;
}

/* NAVBAR */

.navbar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 32px 128px;
}

.navbar-logo {
    height: 96px;
}

.navbar-links {
    display: flex;
    list-style: none;
}

.navbar-link {
    font-size: 20px;
    padding: 10px 20px;
    text-decoration: none;
    color: #0d70f2;
    cursor: pointer;
    font-weight: bold;
}

.links {
    text-decoration: none;
    color: #0d70f2;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
}

.navbar-link:hover, .links:hover {
    color: black;
}

.navbar-name {
    color: black;
}

.navbar-name:hover {
    color: #0d70f2;
}

.avatar {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
}

.user-avatar {
    display: flex;
    align-items: center;
}

/* LOGIN VIEW */

.login-header-container {
    padding: 32px 32px 0px 32px;
}

.login-header {
    font-size: 72px;
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: column;
}

.login {
    height: calc(100vh - 390px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper {
    width: 60%;
    height: 75%;
    -webkit-box-shadow: 0px 5px 33px -21px rgba(66, 68, 90, 1);
    -moz-box-shadow: 0px 5px 33px -21px rgba(66, 68, 90, 1);
    box-shadow: 0px 5px 33px -21px rgba(66, 68, 90, 1);
    display: flex;
    align-items: center;
    border-radius: 20px;
}

.left, .right {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.center {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.or {
    border: 2px solid #0d70f2;
    border-radius: 50%;
    padding: 15px;
    color: #0d70f2;
    font-weight: bold;
    background-color: white;
}

.line {
    width: 0.5px;
    height: 70%;
    background-color: #0d70f2;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: -1;
}

.loginButton {
    width: 150px;
    padding: 15px 25px;
    border-radius: 5px;
    color: white;
    display: flex;
    align-items: center;
    font-weight: bold;
    margin-bottom: 20px;
    cursor: pointer;
}

.google {
    background-color: #df4930;
}

.facebook {
    background-color: #507cc0;
}

.github {
    background-color: black;
}

.icon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

input {
    width: 200px;
    padding: 15px 20px;
    margin-bottom: 20px;
}

.submit {
    width: 200px;
    background-color: #0d70f2;
    color: white;
    font-weight: bold;
    border: none;
    padding: 15px 20px;
    border-radius: 5px;
}

/* EVENTS VIEW */

.events-header {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 100px;
}